* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #343434;
    width: 1413px;
    height: 804px;
    border: 2px dashed #505050;
    border-radius: 20px;
    margin: 10px auto;
}

header {
    /* border: 1px solid red; */
    display: block;
    width: 100%;
}

div#middleTop {
    /* border: 1px solid red; */
    border-radius: 20px;

    background-color: #000;
    color: #fff;
    opacity: 0.6;

    text-align: center;
    align-content: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;

    margin: 17px 41px auto;
    width: 158px;
    height: 20px;
    margin-left: 627px;
}

div#hora {
    border: 2px solid #000;

    color: #fff;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    text-align: center;
    align-content: center;
    float: right;
    margin: auto 41px;

    width: 96px;
    height: 22px;
    border-radius: 5px;

}

main {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;

    margin-top: 176px;

    justify-content: space-evenly;

}

div.containerLista {
    background-color: #202020;
    border-radius: 12px;

    margin: 12px;
    width: 300px;
    height: 200px;

    text-align: center;
    align-content: center;
}

input.inputTxtEntrada {
    border: 1px solid #505050;
    border-radius: 10px;
    outline: none;

    height: 2rem;
    width: 80%;
    padding: 10px;

    background-color: transparent;
    color: #fff;
}

input.btnEntrada {
    width: 1.5rem;
    height: 1.5rem;

    border: 1px solid #505050;
    border-radius: 10px;

    background-color: transparent;
    color: #fff;

    cursor: pointer;
}

input.btnEntrada:hover {
    background-color: pink;
    color: #000;
    transition: .5s;

    font-weight: bold;

}

div.saidaLista ul {
    list-style: none;
    margin: 1rem auto;
    text-transform: capitalize;
    color: #fff;

}

li.listaLi {
    display: flex;
    flex-wrap: wrap;

    padding: 0 10px 0 10px;
    margin: 10px auto;

    width: 80%;
    height: 2rem;

    border-bottom: 1px solid #505050;

    justify-content: space-between;
    align-items: center;

    text-transform: capitalize;
}

input.btnLi {
    display: flex;

    border: none;
    background-color: transparent;
    color: #fff;

    border: 1px solid #505050;
    border-radius: 10px;
    
    width: 1.5rem;
    height: 1.5rem;

        cursor: pointer;
}

input.btnLi:hover {
    background-color: rgb(0, 255, 21);
    color: #000;
    font-weight: bold;

    transition: .4s;
    opacity: .6;
}